@model IEnumerable<WebApplication.Models.Gestionnaire>

@{
    ViewBag.Title = "Index";
}

<br>
<h1><strong>Compte des utilisateurs</strong></h1>
<br>
<p>
    @Html.ActionLink("Revenir à la connexion", "Create")
</p>
<br>
<table class="table table-bordered">
    <tr>
        <th>
            <strong> Nom </strong>
        </th>
        <th>
            <strong> Prénom </strong>
        </th>
        <th>
            <strong> Adresse mail </strong>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_gestionnaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prénom_gestionnaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse_mail)
            </td>
            <td>
                @Html.ActionLink("Editer", "Edit", new { id = item.ID_gestionnaire }) |
                @Html.ActionLink("Détail", "Details", new { id = item.ID_gestionnaire }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.ID_gestionnaire })
            </td>
        </tr>
    }

</table>
